<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Recibir</servlet-name>
        <servlet-class>controller.Recibir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mostrar</servlet-name>
        <servlet-class>controller.Mostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificar</servlet-name>
        <servlet-class>controller.Modificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Borrar</servlet-name>
        <servlet-class>controller.Borrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cerrar_sesion</servlet-name>
        <servlet-class>controller.Cerrar_sesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Recibir</servlet-name>
        <url-pattern>/recibir.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mostrar</servlet-name>
        <url-pattern>/mostrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificar</servlet-name>
        <url-pattern>/modificar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borrar</servlet-name>
        <url-pattern>/borrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrar_sesion</servlet-name>
        <url-pattern>/cerrar_sesion.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
